.nav {
    display: inline;
    width: 30%;    
}

button:focus {
    outline:0;
}

.link {
    color:  #3c4a53;
    font-size: 1rem;  
    transition: font-size ease-in 1s; 
}

.link:hover {
    color: #ff695b;
    font-size: .75em;
}

.link2 {
    color: #cb2029;
    font-size: 1rem;  
    transition: font-size ease-in 1s;
}

.link2:hover {
    color: #3c4a53;
    font-size: .75rem;
}

@media only screen and (max-width: 1024px) {
    .nav {
        width: 60vw;
        text-align: center;
    }

    .nav ul {
        padding: 0;
    }

    .nav li {
        display: inline;
    }
}